@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    background-color: #aaa;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/squairy_light.png');
    /*background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/crossword.png'); */
}

.header {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/crossword.png');
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
    color: #424242;
    top: 100px;
    height: 300px;
    background-position: top center;
    position: relative;
    text-align: center;
    z-index: -9999;
}

small, b, a {
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #424242;
}

.movebox {
    top: -100px;
    left: 0px;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #424242;
    line-height: 0.5;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    padding: 4px 12px;
    margin: 8px 0;
    /* display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Set a style for all buttons */
.ButtonSettings1 {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #3d4044;
    color: white;
    padding: 6px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    /* Add a hover effect for buttons */
    .ButtonSettings:hover, .cancelSettings:hover {
        opacity: 0.8;
    }

/* Extra style for the cancel button (red) */
.cancelSettings1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    width: 200px;
    padding: 6px 14px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 100px;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    /*left: 400px; */
    right: -450px;
    position: relative;
    width: 736px;
}

span.psw {
    float: right;
    padding-top: 16px;
    margin-right: 100px;
    margin-top: -40px;
}
